$container-height: 100vh
$slate-200: #e2e8f0

.container
    height: $container-height
    display: flex
    justify-content: center
    align-items: center

.FormElement
    width: 25%

.element
    color: $slate-200
    font-weight: bold
    font-size: 2.25rem
    margin-bottom: 1rem

.image
    width: 200px
    height: 200px

.placeholder
    padding: 0.75rem
    border-radius: 0.25rem
    display: block
    margin-bottom: 0.5rem
    background-color: #0f172a
    color: #cbd5e1
    width: 100%

.text
    color: #b3b3b3
    margin-bottom: 0.5rem
    display: block
    font-size: small

.button
    width: 100%
    background-color: #00f
    color: white
    padding: 0.75rem
    border-radius: 0.5rem
    cursor: pointer

    margin-top: 0.5rem
    position: center
    
.error
    color: #f00
    font-size: 0.75rem
