/*!*****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[13].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[13].oneOf[9].use[5]!./src/app/perfil/perfil.module.sass ***!
  \*****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.perfil_perfilContainer__0fvUd {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #212121;
}

.perfil_perfilContainer1__yIQjG {
  flex: 0 0 auto;
  width: 100%;
  height: 999px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.perfil_perfilContainer2__iOkxg {
  flex: 0 0 auto;
  width: 100%;
  height: 968px;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}

.perfil_perfilTextinput__4IZZG {
  top: 702px;
  left: 716px;
  position: absolute;
}

.perfil_perfilTextinput1__JrzNt {
  top: 607px;
  left: 733px;
  position: absolute;
}

.perfil_perfilTextinput2__HJraE {
  top: 474px;
  left: 725px;
  position: absolute;
}

.perfil_perfilTextinput3__XOhr8 {
  top: 343px;
  left: 676px;
  position: absolute;
}

.perfil_perfilTextinput4__hLkXj {
  top: 706px;
  left: 403px;
  position: absolute;
}

.perfil_perfilTextinput5__At777 {
  top: 601px;
  left: 398px;
  position: absolute;
}

.perfil_perfilTextinput6__cN0yW {
  top: 479px;
  left: 406px;
  position: absolute;
}

.perfil_perfilTextinput7__Tb_Oa {
  top: 347px;
  left: 383px;
  position: absolute;
}

.perfil_perfilText__OGMPB {
  top: 302px;
  fill: #b3b3b3;
  left: 390px;
  color: #b3b3b3;
  position: absolute;
  font-size: 20px;
}

.perfil_perfilText1__d5BVa {
  top: 673px;
  fill: #b3b3b3;
  left: 461px;
  color: #b3b3b3;
  position: absolute;
  font-size: 20px;
}

.perfil_perfilText2__43J42 {
  top: 444px;
  fill: #b3b3b3;
  left: 418px;
  color: #b3b3b3;
  position: absolute;
  font-size: 20px;
}

.perfil_perfilText3__gwP3_ {
  top: 568px;
  fill: #b3b3b3;
  left: 752px;
  color: #b3b3b3;
  position: absolute;
  font-size: 20px;
}

.perfil_perfilText4__MgsKA {
  top: 659px;
  fill: #b3b3b3;
  left: 743px;
  color: #b3b3b3;
  position: absolute;
  font-size: 20px;
}

.perfil_perfilText5__v1H2_ {
  top: 436px;
  fill: #b3b3b3;
  left: 735px;
  color: #b3b3b3;
  position: absolute;
  font-size: 20px;
}

.perfil_perfilText6__6wILo {
  top: 568px;
  fill: #b3b3b3;
  left: 425px;
  color: #b3b3b3;
  position: absolute;
  font-size: 20px;
}

.perfil_perfilText7__6jBRe {
  top: 291px;
  fill: #b3b3b3;
  left: 679px;
  color: #b3b3b3;
  position: absolute;
  font-size: 20px;
}

.perfil_perfilButton__E7sCj {
  left: 452px;
  bottom: 120px;
  position: absolute;
  background-color: #1db954;
}

.perfil_perfilImage__v5xl5 {
  width: 200px;
  object-fit: cover;
}

.perfil_perfilText8__NeHqi {
  top: 208px;
  fill: #b3b3b3;
  left: 403px;
  color: rgb(179, 179, 179);
  position: absolute;
  font-size: 40px;
}
