/*!************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[13].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[13].oneOf[9].use[5]!./src/app/categorias/Categoria.module.sass ***!
  \************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.Categoria_Grid__9IIjD {
  display: grid;
  grid-template-columns: 15vw 15vw 15vw 15vw;
  grid-template-rows: 30 150vw;
}

.Categoria_categoriasContainer__Th_FS {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}

.Categoria_categoriasContainer1__3afOU {
  flex: 0 0 auto;
  width: 100%;
  height: 997px;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: #212121;
}

.Categoria_categoriasText__2465T {
  top: 46px;
  left: 30%;
  color: #b3b3b3;
  position: absolute;
  font-size: 50px;
  font-style: italic;
  align-items: center;
  font-weight: 900;
}

.Categoria_categoriasText1__6dMoC {
  top: 131px;
  fill: #b3b3b3;
  left: 5%;
  color: #b3b3b3;
  position: absolute;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  align-items: center;
}

.Categoria_Image__MrYGS {
  width: 90%;
  height: 90%;
  position: relative;
  object-fit: cover;
  border-radius: 2%;
}

.Categoria_Button__peXkz {
  width: 90%;
  position: relative;
  align-items: center;
  background-color: #1db954;
  cursor: pointer;
}
