/*!********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[13].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[13].oneOf[9].use[5]!./src/app/page.module.sass ***!
  \********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.page_home-container__8Q7mr {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: #212121;
}

.page_homeContainer1__66S_r {
  width: 100%;
  height: 1009px;
  display: flex;
  position: relative;
  align-items: flex-start;
}

.page_home-button__061A9 {
  left: 687px;
  bottom: 90px;
  position: absolute;
  background-color: #1db954;
}

.page_homeButton1__dyxD_ {
  left: 455px;
  bottom: 91px;
  position: absolute;
  background-color: #1db954;
}

.page_homeText__6wjHE {
  top: 115px;
  fill: #b3b3b3;
  left: 360px;
  color: rgb(179, 179, 179);
  position: absolute;
  font-size: 30px;
  text-align: center;
  line-height: 1.75;
}

.page_homeText28__iwfHH {
  top: 32px;
  fill: #b3b3b3;
  left: 523px;
  color: rgb(179, 179, 179);
  position: absolute;
  font-size: 50px;
  font-style: italic;
  font-weight: 700;
}
