.Grid
    display: grid
    grid-template-columns: 15vw 15vw 15vw 15vw
    grid-template-rows: 30 150vw

.categoriasContainer
    width: 100%
    display: flex
    overflow: auto
    min-height: 100vh
    align-items: center
    flex-direction: row
    justify-content: center

.categoriasContainer1
    flex: 0 0 auto
    width: 100%
    height: 997px
    display: flex
    position: relative
    align-items: center
    flex-direction: column
    justify-content: center
    background-color: #212121

.categoriasText
    top: 46px
    left: 30%
    color: #b3b3b3
    position: absolute
    font-size: 50px
    font-style: italic
    align-items: center
    font-weight: 900

.categoriasText1
    top: 131px
    fill: #b3b3b3
    left: 5%
    color: #b3b3b3
    position: absolute
    font-size: 20px
    font-style: normal
    font-weight: 600
    align-items: center


.Image
    width: 90%
    height: 90%
    position: relative
    object-fit: cover
    border-radius: 2%

.Button
    width: 90%
    position: relative
    align-items: center
    background-color: #1db954
    cursor: pointer
